footer{
  position:absolute;
  top:65rem;
  padding-left:2rem;
}

a.footerlink{
  color:red;
}
p.footerbottom{
  padding-left:40rem;
}

.sidebar{
  border: 1px solid grey;
  resize: vertical;
  float: right;
  margin-top:2rem;
  margin-right: 45rem;
  position:absolute;
  right:0;
  padding-left:2rem;
  padding-right:2rem;
  padding-bottom:2rem;
}

.art {
  border: none;
  float:left;
  width:25rem;
  position:relative;
  left:0;
  margin-left:2rem;
}

img {
  width: 200px;
  height:200px;
}

h1 { 
  padding-left:2rem;
}

footer{
  top:50rem;
}